<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet.org" value="https://nuget.org/api/v2/" />
    <add key="NuGet.Lucene" value="https://ci.appveyor.com/nuget/nuget-lucene-gf1v4ycrdwqq" />
    <add key="WebConfigTransformRunner-mono" value="https://ci.appveyor.com/nuget/webconfigtransformrunner-43x65okll4tw" />
  </packageSources>
</configuration>
